header {
    height: 130vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =================== CTA =================== */

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =================== Heder Socials =================== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* =================== Me =================== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 100%;
    max-width: 50rem;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 30rem 30rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* =================== Scroll Down =================== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font: 0.9rem;
}

/* =================== Media Queries (Tablet Devices) =================== */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
    header {
        height: 98vh;
    }

    .header__socials,
    .scroll__down {
        display: none
    }
}

@media screen and (max-device-width:1919px) and (max-height: 1079px) and (orientation:landscape) {
    header {
        height: 158vh;
    }

    .header__socials,
    .scroll__down {
        display: none
    }
}

/* =================== Media Queries (Iphones) =================== */

/* Media Querie (Iphone SE,5,6,Pro, Galaxxy) - Portrait*/
@media screen and (max-width: 380px) and (max-height: 670px) and (orientation: portrait) {
    header {
        height: 120vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}

/* Media Querie (Iphone SE,5,6) - Landscape*/
@media only screen and (min-width: 669px) and (max-width: 915px) and (max-height: 400px) and (orientation: landscape) {
    header {
        height: 400vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}